body {
  background-color: darkolivegreen;
  font-family: serif;
  color: bisque;
  font-size: 2em;
}
#on {
  background-color: coral;
  color: white;
  font-family: serif;
}
#off {
  background-color: darkgreen;
  color: bisque;
  font-family: serif;
}
